<!-- Navigation header -->
<app-navigationheader [title]="'ActivationPreview.Title' | translate" [currentAlmaUser]="currentAlmaUser"
    [showBackButton]="true" [onBackButtonClicked]="onBackButtonClicked">
</app-navigationheader>

<!-- Navigation Preview Header
<div class="activation-preview-header-text">
    {{ 'ActivationPreview.SlskeyGroups' | translate }}:
</div>
-->
<!-- Show each current slskey grouo -->
<div (click)="group.activation?.blocked || group.isWorkFlowWebhook ? null : selectSlskeyGroup(group.value)"  class="slskey-group" *ngFor="let group of currentSlskeyGroups" [ngClass]="{'slskey-group-blocked': group.activation?.blocked, 'slskey-group-webhook': group.isWorkFlowWebhook}">
    <div class="slskey-group-header">
        <div class="slskey-group-header-text">
            <mat-icon *ngIf="group.isWorkFlowWebhook" size="20">motion_photos_auto</mat-icon>
            <mat-icon *ngIf="!group.isWorkFlowWebhook" size="20">supervised_user_circle</mat-icon>
            {{group.name}}
        </div>
        <div *ngIf="group.activation != null">
            <div *ngIf="group.activation.blocked" class="slskey-group-status-chip blocked">
                <mat-icon size="20">block</mat-icon>
                {{ 'ActivationPreview.Blocked' | translate }}
            </div>
            <div *ngIf="!group.activation.blocked && group.activation.activated" class="slskey-group-status-chip active">
                <mat-icon size="20">check_circle</mat-icon>
                {{ 'ActivationPreview.Active' | translate }}
            </div>
            <div *ngIf="!group.activation.blocked && !group.activation.activated" class="slskey-group-status-chip inactive">
                <mat-icon size="20">cancel</mat-icon>
                {{ 'ActivationPreview.Inactive' | translate }}
            </div>
        </div>
        <div *ngIf="group.activation == null">
            <div class="slskey-group-status-chip inactive">
                <mat-icon size="20">cancel</mat-icon>
                <span class="slskey-group-status-chip-text">
                    {{ 'ActivationPreview.NoStatus' | translate }}
                </span>

            </div>
        </div>

    </div>
    <div class="slskey-group-body">
        <div *ngIf="group.activation?.activated">
            {{ 'ActivationPreview.ActivationDate' | translate }}:
            {{group.activation?.activation_date | date: 'MM/dd/yyyy'}}
        </div>
        <div *ngIf="group.activation?.activated">
            {{ 'ActivationPreview.ExpirationDate' | translate }}:
            <span *ngIf="group.activation?.expiration_disabled">
                {{ 'ActivationPreview.ExpirationDisabled' | translate }}
            </span>
            <span *ngIf="!group.activation?.expiration_disabled && group.activation?.expiration_date">
                {{group.activation.expiration_date | date: 'MM/dd/yyyy'}}
            </span>
            <span *ngIf="!group.activation?.expiration_disabled && !group.activation?.expiration_date">
                {{ 'ActivationPreview.ExpirationViaAlma' | translate }}
            </span>
        </div>
        <div *ngIf="group.activation?.remark">
            {{ 'ActivationPreview.Remark' | translate }}:
            <span>
                {{group.activation.remark}}
            </span>

        </div>
    </div>
</div>
