<div
    class="slskey-header ">
    <!-- Navigation Header -->
    <div class="nav-header half-rounded" fxLayout="row">
            <mat-icon *ngIf="showBackButton" class="back-button" mat-button="mat-button" (click)="navigateBack()" inline="true">arrow_back_ios</mat-icon>
       {{ title }}
    </div>

    <!-- User Header -->
    <div *ngIf="currentAlmaUser" class="user-header" fxLayout="row">
        <span class="user-header-user">
            <mat-icon size="20">account_circle</mat-icon>
            <div class="user-header-text">
                {{currentAlmaUser.full_name}}
            </div>
            <a (click)="navigateToExternalUser()" >
                <mat-icon class="external-link-icon">open_in_new</mat-icon>
            </a>
        </span>
    </div>
</div>
