.activation-input-header-text {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.selected-slskey-group-header {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.remark-input {
    width: 100%;
    margin-top: 1rem;
}

.education-input {
    width: 100%;
    margin-bottom: 1rem;
}

.activation-button {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: bold;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: #f1f1f7;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    border: 1px solid #343a40;
    left: 0;
    top: 20px;
    white-space: pre-line;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }