<!-- Loading Spinner -->
<div class="loading-shade" *ngIf="loading">
    <mat-spinner diameter="50"></mat-spinner>
</div>

<!-- Navigation Header -->
<app-navigationheader [title]="'ActivationInput.Title' | translate" [currentAlmaUser]="currentAlmaUser"
    [showBackButton]="true" [onBackButtonClicked]="onBackButtonClicked.bind(this)">
</app-navigationheader>

<div class="activation-input-header-text">
    {{ 'ActivationInput.Activate' | translate }}:
</div>

<!-- Selected SLSKey Group Header -->
<div class="selected-slskey-group-header">
    <mat-icon *ngIf="currentSelectedSlskeyGroup.isWorkFlowWebhook" size="20">motion_photos_auto</mat-icon>
    <mat-icon *ngIf="!currentSelectedSlskeyGroup.isWorkFlowWebhook" size="20">supervised_user_circle</mat-icon>
    {{currentSelectedSlskeyGroup.name}}
</div>

<!-- Remark Input -->
<div class="remark-input">

    <mat-form-field appearance="outline">
        <mat-label>{{ 'ActivationInput.Remark' | translate }}</mat-label>
        <input matInput="matInput" [(ngModel)]="inputRemark" />
    </mat-form-field>

</div>

<div *ngIf="currentSelectedSlskeyGroup.show_member_educational_institution" class="education-input">
    <mat-checkbox [checked]="inputIsEducationInstitution" (change)="changeIsEducationInstitution($event.checked)">
        {{ 'ActivationInput.MemberEducationInstitution1' | translate }}
        <div class="tooltip">
            {{ 'ActivationInput.MemberEducationInstitution2' | translate }}
            <span class="tooltiptext">
                {{ 'ActivationInput.MemberEducationInstitutionHint' | translate }}
            </span>
          </div>
    </mat-checkbox>
</div>

<!-- Activation Button -->
<div class="activation-button">
    <button mat-flat-button class="slsp-purple-button" (click)="activateSlskeyUserForSlskeyGroup()">
        <mat-icon inline=true>key</mat-icon>
        <span *ngIf="currentSelectedSlskeyGroup.activation?.activated">
            {{ 'ActivationInput.Extend' | translate }}
        </span>
        <span *ngIf="!currentSelectedSlskeyGroup.activation?.activated">
            {{ 'ActivationInput.Activate' | translate }}
        </span>
    </button>
</div>