.entities-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

::ng-deep .mat-radio-button.mat-radio-disabled .mat-radio-label .mat-radio-label-content {
  font-style: italic;

  .entity-no-edu-id {
    font-style: normal;
    margin-left: 10px;
    background: rgb(244, 184, 184);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
  }
}

textarea {
  padding: 2px;
  border-width: 1px;
  $width: calc(100% - 6px);
  width: $width;
  max-width: $width;
  height: 150px;
  font-family: monospace;
  display: block;
}

textarea,
section,
.mat-card {
  margin-bottom: 20px;
}

pre {
  overflow: auto;
  max-height: 200px;
  white-space: pre-wrap;
  word-break: break-all;
}

pre,
textarea {
  font-size: 0.9em;
}
table {
  td {
    padding: 0 20px;
  }
  td,
  th {
    white-space: nowrap;
    word-wrap: break-word;
  }
}