<!-- Info text about testing phase-->
<ng-container *ngIf="isTestEnvironment">
    <div class="testing-environment">
        <b>Test Environment</b>
        <span>Changes do not affect production.</span>
    </div>
</ng-container>

<!-- Loading Spinner -->
<div class="loading-shade" *ngIf="loading">
    <mat-spinner diameter="50"></mat-spinner>
</div>

<!-- User Permission Denied -->
<ng-container *ngIf="isUserCheckDone && !isUserAllowed">
    <h1>{{ 'Main.AccessDenied1' | translate }}</h1>
    <p>{{ 'Main.AccessDenied2' | translate }}</p>
    <span>
        {{ 'Main.AccessDenied3' | translate }}
        <a href="mailto:info@slsp.ch">
            info&#64;slsp.ch</a>.
    </span>
</ng-container>

<!-- User Allowed: Show Entities -->
<ng-container *ngIf="isUserCheckDone && isUserAllowed">

    <!-- No Entities visible in Alma UI -->
    <ng-container *ngIf="(entities$ | async)?.length == 0">
        <h1> {{ 'Main.Welcome1' | translate }} </h1>
        <p> {{ 'Main.Welcome2' | translate }}</p>
        <ul>
            <li> {{ 'Main.Welcome3' | translate }}</li>
            <li> {{ 'Main.Welcome4' | translate }}</li>
            <li> {{ 'Main.Welcome5' | translate }}</li>
        </ul>
        <div class="highlight"> {{ 'Main.Welcome6' | translate }}</div>
    </ng-container>

    <!-- Entity Selection -->
    <ng-container *ngIf="(entities$ | async)?.length > 0">
        <div class="select-entities">
            <mat-action-list [attr.aria-label]="'Main.Title' | translate" class="entities-action-list">
                <button mat-list-item
                        *ngFor="let entity of entities$ | async; trackBy: trackEntity"
                        class="entity-action"
                        type="button"
                        [disabled]="!isEntityEduId(entity)"
                        (click)="entitySelected(entity)">
                    <span class="entity-row">
                        <span class="entity-content">
                            <span class="entity-name">{{ entity.description }}</span>
                            <span class="entity-meta">
                                <span *ngIf="entityPrimaryIdentifier(entity) as primaryIdentifier"
                                      class="entity-primary-identifier">
                                    {{ primaryIdentifier }}
                                </span>
                                <span *ngIf="!isEntityEduId(entity)" class="entity-no-edu-id">
                                    {{ 'Main.NoEduId' | translate }}
                                </span>
                            </span>
                        </span>
                        <mat-icon *ngIf="isEntityEduId(entity)"
                                  class="entity-navigation-icon"
                                  aria-hidden="true">
                            chevron_right
                        </mat-icon>
                    </span>
                </button>
            </mat-action-list>
        </div>
    </ng-container>
</ng-container>
